.tech {
    padding-top: 110px;   
    //background: linear-gradient(0deg,#ffffff,#99d9ff,#f1fbff);
    background: #66c5ff;
    &__inner {
        margin-top: 150px;
        display: flex;
        align-items: center;
        align-content: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 25%;
        text-align: center;
        margin-bottom: 220px;
        //opacity: 0;
        //transform: translateY(100px);
        transition: 1s ease-out;
        padding-left: 20px;
            padding-right: 20px;
        img{
            max-width: 90%;
        }
        &._active  {
            opacity: 1;
            transform: translateY(0);
            transition: 1s ease-out;
        }
        filter: brightness(1);
        
    }
    
    @include media_1100 {
        padding-top: 50px;
        &__inner {
            margin-top: 75px;
        }
        &__item {
            
            margin-bottom: 150px;
        }
    }
    @include media_800 {
        &__item {
            width: calc(100% / 3);
            margin-bottom: 100px;
        }
    }
    @include media_450 {
        &__item {
            width: 50%;
        }
    }
}