.cases {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.cases__logo {
  margin-bottom: 48px;

  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 414px) {
    width: calc(100% - 30px);
    margin-bottom: 20px;
  }

  @media screen and (max-width: 320px) {
    width: calc(100% - 40px);
  }
}

.cases__item {
  position: relative;
  display: flex;
  flex: 0 0;
  width: 100%;
  flex-basis: 1360px;
  height: 1360px;
  align-items: center;
  padding: 0 0 0 230px;

  @media screen and (max-width: 1440px) {
    padding: 0 0 0 160px;
    flex-basis: 1000px;
    height: 1000px;
  }

  @media screen and (max-width: 1300px) {
    padding: 0 0 0 100px;
  }

  @media screen and (max-width: 1250px) {
    padding: 0 0 0 50px;
  }

  @media screen and (max-width: 1150px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 1024px) {
    height: auto;
    flex-basis: auto;
    padding: 70px 50px 140px;
  }

  @media screen and (max-width: 320px) {
    padding: 50px 30px 80px;
  }

  &_citybooq {
    background-color: #195B7C;
  }

  &_medicity {
    background-color: #449AD6;
  }

  &_mavenir {
    background-color: #24588C;
  }

  &_netvision {
    background-color: #B93F4D;
  }
}

.cases__leftSide {
  width: 595px;

  @media screen and (max-width: 1150px) {
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cases__slider {
  position: static;
  margin-left: -20px;
}

.cases__slider .owl-pagination {
  left: 0;
}

.cases__slide {
  padding: 0 20px;
}

.cases__text {
  font-family: "Lora";
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 32px;
  margin-bottom: 20px;
  user-select: none;

  @media screen and (max-width: 414px) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &_small {
    line-height: 24px;
    font-size: 18px;

    @media screen and (max-width: 414px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.cases__nextBtn {
  display: inline-block;
  height: 50px;
  line-height: 45px;
  font-family: "Lora";
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  margin-top: 20px;

  @media screen and (max-width: 414px) {
    height: 40px;
    line-height: 35px;
    padding: 0 15px;
    margin-top: 15px;
    font-size: 18px;
  }
}

.cases .owl-pagination {
  bottom: 260px;

  @media screen and (max-width: 1440px) {
    bottom: 120px;
  }

  @media screen and (max-width: 1300px) {
    bottom: 90px;
  }

  @media screen and (max-width: 1024px) {
    bottom: 50px;
  }

  @media screen and (max-width: 414px) {
    display: none;
    bottom: 40px;
  }
}

.cases__technologies {
  display: flex;
  margin-left: -5px;
  margin-bottom: 20px;
}

.cases__technologiesItem {
  font-family: "Lora";
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  margin: 0 5px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px 10px;
  user-select: none;
}

.cases__technologiesItem img {
  display: block;
  height: 100%;
  width: auto;
}

.cases__img {
  display: block;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);

  @media screen and (max-width: 1150px) {
    display: none;
  }
}

.cases__item_citybooq {
  .cases__img {
    width: 44%;
    margin-right: 64px;
    margin-top: -23px;
  }
}

.cases__item_medicity {
  .cases__img {
    width: 53%;
    margin-right: -45px;
    margin-top: 95px;
  }
}

.cases__item_mavenir {
  .cases__img {
    width: 46.75%;
    margin-right: 34px;
  }
}

.cases__item_netvision {
  .cases__img {
    width: 50%;
    margin-right: -10px;
    // margin-top: 75px;
  }
}

.cases__item .owl-wrapper-outer {
  padding-bottom: 50px;
  margin-bottom: -50px;
}

.cases__item .owl-next {
  bottom: 242px;
  @media screen and (max-width: 1440px) {
    bottom: 104px;
  }

  @media screen and (max-width: 1300px) {
    bottom: 74px;
  }

  @media screen and (max-width: 1024px) {
    bottom: 34px;
  }

  @media screen and (max-width: 414px) {
    bottom: 24px;
  }
}