section.contacts {
	text-align: center;
	/*background: $lightBlue;*/
	background: #000;
	color: black;
	display: block;
	padding-top: 80px;

	.section-content {
		display: flex;
		align-items: center;
		justify-content: center;
		//background: #ccc;
	}

	@include transition(background 1s linear);

	&.active {
		background: #fff;
		color: #000;
	}

	.background {
		width: 100%;
		position: absolute;
		height: 100%;
		bottom: 0px;
		left: 0px;
		@include transition(bottom 0.2s linear);

		.map {
			width: 930px;
			height: 620px;
			transform: scale(2);

			position: absolute;
			transform-origin: 410px 200px;
			left: 50%;
			margin-left: -405px;
			top: 50%;
			margin-top: -540px;

			@media screen and (max-width: 1199px) {
				margin-top: -460px;
			}

			@media screen and (max-width: 1023px) {
				//bottom: 450px;
				transform: scale(1.5);
				margin-top: -610px;
			}

			@media screen and (max-width: 767px) {
				transform: scale(1);
				//bottom: 560px;
				//margin-left: -395px;
				margin-top: -610px;

			}
		}

		.marker-usa,
		.marker-russia {
			width: 40px;
			height: 55px;
			position: absolute;
			top: 0px;
		}

		.marker-usa {
			top: 472px;
			left: 340px;
		}

		.marker-russia {
			top: 394px;
			left: 955px;
		}
	}

	.main_logo {
		background: url(../images/logo-black.svg) center no-repeat;
		display: block;
		margin: 0 auto 35px;
		width: 125px;
		height: 110px;
		position: relative;
	}

	.description {
		width: 100%;
		letter-spacing: 1.1px;
		font-size: 20px;

		h2 {
			font-family: $NeoSansMediumFont;
			font-size: 33pt;

			@media screen and (max-width: 1023px) {
				font-size: 26pt;
			}
		}

		h3 {
			font-family: $NeoSansMediumFont;
			font-size: 20pt;

			@media screen and (max-width: 1023px) {
				font-size: 18pt;
			}
		}

		.description * {
			position: relative;
		}

		.address {
			text-align: left;

			h3:first-child {
				margin-top: 0px;
			}
		}
	}

	.company_mail {
		//text-decoration: underline;
		//color: rgb(0, 0, 238);

		@include transition(color 2s ease);
	}

	.social {
		padding: 16px 0;

		&-list {
			display: flex;
			justify-content: center;

			&:last-child {
				margin-bottom: 0;
			}

			@media screen and (max-width: 414px) {
				flex-flow: column;
				align-items: center;
			}
		}

		&-link {
			margin: 0 20px;

			@media screen and (max-width: 414px) {
				margin-bottom: 10px;
			}

			img {
				height: 25px;
				vertical-align: top;
				display: inline-block;
			}
		}
	}



	/*.skype-icon {
		width: 37px;
		margin-right: 0.5em;
		vertical-align: text-bottom;
		margin-left: -20px;
		
		@media screen and (max-width: 767px) {
			width: 20px;
		}
	}*/

	form {

		input,
		textarea {
			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: #ccc;

			}

			&::-moz-placeholder {
				/* Firefox 19+ */
				color: #ccc;
			}

			&:-ms-input-placeholder {
				/* IE 10+ */
				color: #ccc;
			}

			&:-moz-placeholder {
				/* Firefox 18- */
				color: #ccc;
			}
		}

		.form-control {
			font-size: 18px;
			box-shadow: none;
		}

		.btn {
			width: 100%;
			font-size: 14pt;
		}

		textarea {
			position: relative;
		}

		input[name=email] {
			position: absolute;
			top: 150px;
			width: 10px;
		}
	}

	.footer {
		bottom: 0px;
		left: 0px;
		text-align: left;
		padding: 0px 50px;
		width: 100%;

		@media screen and (max-width: 1023px) {
			padding: 0px 20px;
		}
	}
}

.remodal {
	.btn {
		min-width: 100px;
	}

	p {
		margin: 0px;
	}
}