section.how_we_work {
	/*background: url("../images/pyramids.png") center bottom #cfebf6 no-repeat;*/
	/*background: #cfebf6;*/
	background: #f1fbff;
	text-align: center;
	overflow: hidden;

	.title {
		color: #3c3f40;
		margin-bottom: 26px;
		position: relative;
		z-index: 100;
	}
	.description {
		/*font-family: $OpenSansFont;*/
		font-family: $LoraFont;
		font-size: 20px;
		/*font-size: 26px;*/
		color: #3c3f40;
		max-width: 750px;
		//line-height: 32px;
		line-height: 140%;
		display: block;
		margin: 0 auto 53px;
		position: relative;
		z-index: 100;
	}
	.stage {
		display: inline-block;
		vertical-align: top;
		width: 174px;
		height: 132px;
		position: relative;
		margin-right: 18px;
		margin-bottom: 100px;

		div.content {
			background: #4aa3c6;
			position: relative;
			padding-top: 15px;
			padding-left: 45px;
			height: 100%;
			&:after {
				content: "";
				border: 66px solid transparent;
				border-left: 47px solid #4aa3c6;
				position: absolute;
				right: -112px;
				top: 0;
			}
			&:before {
				content: "";
				border: 66px solid transparent;
				border-left: 47px solid #cfebf6;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		div.back {
			border-width: 600px 0px 600px 430px;
			border-style: solid;
			border-color: transparent transparent transparent #ccc;
			margin-top: -533px;
			margin-left: -210px;
			position: absolute;

			&:before {
				content: "";
				position: absolute;
				left: -825px;
				top: -600px;
				width: 400px;
				height: 1200px;
			}
		}
		img {
			display: block;
			margin: 0 auto 10px;
		}
		p {
			/*font-family: 'OpenSans-Semibold';*/
			font-family: $LoraFont;
			font-size: 16px;
			/*font-size: 19px;*/
			line-height: 24px;
			color: #fff;
		}
		&.stage1 {
			z-index: 20;
			@include setHorizStageItem(#009FFF);
		}
		&.stage2 {
			z-index: 19;
			@include setHorizStageItem(lighten(#009FFF, 5%));
		}
		&.stage3 {
			z-index: 18;
			@include setHorizStageItem(lighten(#009FFF, 10%));
		}
		&.stage4 {
			z-index: 17;
			@include setHorizStageItem(lighten(#009FFF, 15%));
		}
		&.stage5 {
			z-index: 16;
			@include setHorizStageItem(lighten(#009FFF, 20%));
		}
		&.stage6 {
			z-index: 15;
			@include setHorizStageItem(lighten(#009FFF, 25%));
		}
	}

	@media screen and (max-width: 1279px) {

		//height: auto !important;
		padding-top: 40px;
		padding-bottom: 40px;

		.description {
			font-size: 13pt;
		}

		.stage {
			display: block;
			width: 200px;
			height: 150px;
			margin: 0px auto 20px;

			div.content {
				padding: 65px 10px 0px;
				height: 100%;

				&:after {
					border: 100px solid transparent;
					border-bottom: 0px;
					border-top: 50px solid #4aa3c6;
					right: 0;
					top: auto;
					bottom: -49px;
				}
				&:before {
					border: 100px solid transparent;
					border-top: 50px solid #cfebf6;
					left: 0;
					top: 0;
				}
			}
			div.back {
				border-width: 300px 600px 0px 600px;
				border-style: solid;
				border-color: transparent;
				margin-top: -100px;
				margin-left: -500px;

				&:before {
					left: -600px;
					top: -669px;
					width: 1200px;
					height: 400px;
				}
			}
			img {
				margin: 0 auto 10px;
			}
			p {
				position: relative;
				z-index: 1;
			}
			&.stage1 {
				@include setVertStageItem(#009FFF);
			}
			&.stage2 {
				@include setVertStageItem(lighten(#009FFF, 5%));

				div.content {
					padding-top: 55px;
				}

			}
			&.stage3 {
				@include setVertStageItem(lighten(#009FFF, 10%));
			}
			&.stage4 {
				@include setVertStageItem(lighten(#009FFF, 15%));
			}
			&.stage5 {
				@include setVertStageItem(lighten(#009FFF, 20%));
				div.content {
					padding-top: 75px;
				}
			}
			&.stage6 {
				@include setVertStageItem(lighten(#009FFF, 25%));
				div.content {
					padding-top: 75px;
				}
			}
		}
	}
}
