section.our_clients {
	text-align: center;
	/*background: $lightBlue;*/
	background: #000;

	.title {
		color: #fff;
	}

	@include transition(background 1s linear);

	.container-fluid>div {
		position: relative;
	}

	.logotype {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: top;
		/*width: 263px;
		height: 263px;*/
		width: 200px;
		height: 200px;
		margin: 0 13px 26px;
		/*background: #68bcde;*/

		img {
			max-width: 100%;
		}
	}

	p {
		font-family: $NeoSansMediumFont;
		font-size: 44px;
		letter-spacing: 1.1px;
	}

	span {
		font-family: 'OpenSans-Semibold';
		font-size: 32px;
	}


	/*.logotype {
		.cern {
			width: 90px;
		}
		.cmu {
			width: 130px;
		}
		.lockheed-martin {
			width: 160px;
		}
		.pfizer {
			width: 130px;
		}
		.siemens {
			width: 140px;
		}
		.t-mobile {
			width: 160px;
		}
		.stackoverflow {
			width: 170px;
		}
		.volvo {
			width: 160px;
		}
	}*/
}