.our-specializations {
  display: flex;
  flex-direction: column;
  background-color: #E6F5FF;
  padding: 120px 230px;

  @media screen and (max-width: 1279px) {
    padding: 70px 5vw;
  }

  @media screen and (max-width: 414px) {
    padding: 50px 5vw;
  }
}

.our-specializations__title {
  color: #000;
  font-size: 48px;
  line-height: 58px;
  font-family: $NeoSansMediumFont;
  margin-bottom: 80px;

  @media screen and (max-width: 414px) {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 375px) {
    font-size: 30px;
    line-height: 42px;
  }
}

.our-specializations__list {
  display: flex;
  flex-direction: column;
}

.our-specializations__row {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 414px) {
    margin-bottom: 40px;
  }
}

.our-specializations__item {
  width: 390px;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 1279px) {
    width: calc(100%/3 - 30px);
  }

  @media screen and (max-width: 960px) {
    width: 70%;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 414px) {
    width: 90%;
    margin-bottom: 40px;
  }
}

.our-specializations__itemTitle {
  color: #000;
  font-size: 24px;
  line-height: 24px;
  font-family: $NeoSansMediumFont;
  margin-bottom: 12px;

  @media screen and (max-width: 414px) {
    font-size: 20px;
  }
}

.our-specializations__itemDescr {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  line-height: 32px;
  font-family: $LoraFont;
  padding: 0 10px;

  @media screen and (max-width: 414px) {
    font-size: 16px;
    line-height: 28px;
  }
}

.our-specializations__itemIcon {
  width: 64px;
  height: auto;
  margin-bottom: 40px;

  @media screen and (max-width: 414px) {
    width: 45px;
  }
}