section.splash {
	background: #2598d6 url("../images/splash/bg.png");
	background-size: 100% 100%;
	color: #fff;

	.wrapper {
		text-align: center;
	}

	.title {
		font-family: $NeoSansMediumFont;
		font-size: 90px;
		margin-bottom: 13px;
		margin: 0px auto;
		color: #fff;

		.cursor {
			width: 4px;
			background: #fff;
			height: 90px;
			display: inline-block;
			vertical-align: sub;
		}

		@media screen and (max-width: 1279px) {
			font-size: 64pt;

			.cursor {
				height: 80px;
				width: 3px;
			}
		}

		@media screen and (max-width: 1023px) {
			font-size: 64pt;

			.cursor {
				height: 70px;
				width: 3px;
			}
		}

		@media screen and (max-width: 767px) {
			font-size: 48pt;
			min-width: 280px;

			.cursor {
				height: 65px;
				width: 2px;
			}
		}

		@media screen and (max-width: 420px) {
			font-size: 36pt;
			min-width: 280px;

			.cursor {
				height: 50px;
				width: 2px;
			}
		}
	}

	.description {
		/*font-family: $OpenSansFont;*/
		font-family: $LoraFont;
		letter-spacing: 0.5px;
		font-size: 22px;
		margin-bottom: 35px;
		display: block;
	}

	.main_logo {
		display: block;
		margin: 0 auto 95px;
		width: 127px;
		height: 112px;
		background: url("../images/logo.svg") center no-repeat;

		@media screen and (max-width: 1279px) {
			margin: 40px auto 36px;
		}
	}
	.mouse {
		width: 27px;
		height: 50px;
		margin: 50px auto 0;
		
		div {
			width: 100%;
			height: 100%;
			background: url("../images/mouse.svg") center no-repeat;
		}
	}

	.learn_more {
		display: none;
		width: 196px;
		height: 50px;
		background: #fff;
		color: $lightBlue;
		text-transform: uppercase;
		text-align: center;
		line-height: 50px;
		border-radius: 40px;
		margin: 20px auto;
		cursor: pointer;
		font-family: 'OpenSans-Bold';
	}

	.wrapper {
		width: 100%;
		position: relative;
	}

	#mask {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		background: #25ADFF;
		opacity: 0;

		@include linearGradient (#25ADFF, #009fff);
	}

	#cover {
		/*background: #211c56;*/
		/*background: #25adff;*/
		background: #009fff;
		height: 0%;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	#el1,
	#el2,
	#el3,
	#el4,
	#el5,
	#el6 
	{
		position: absolute;
	}
	
	#el1 {
		bottom: 0px;
		left: 0px;
		width: 50%;
	}

	#el2 {
		bottom: 0px;
		left: -10%;
		width: 70%;
	}

	#el3 {
		bottom: 0px;
		right:0px;
		width: 50%;
	}

	#el4 {
		bottom: 0px;
		right: -10%;
		width: 70%;
	}

	#el5 {
		bottom: 0px;
		left: 5%;
		width: 65%;
		opacity: 0.7;

	}

	#el6 {
		bottom: 0px;
		right: 5%;
		width: 65%;
		opacity: 0.8;

	}

	@media screen and (max-width: 1279px) {
		#el1,
		#el3 {
			width: 60%;
		}

		#el2 {
			left: -30%;
			width: 100%
		}
		#el4 {
			right: -30%;
			width: 100%
		}

		#el5 {
			left: -5%;
			width: 85%
		}
		#el6 {
			right: -5%;
			width: 85%
		}
	}
}
