section.what_we_do {
	text-align: center;
	color: #fff;
	font-size: 21px;
	line-height: 32px;
	font-family: $LoraFont;
	background: #009fff;

	h2 {
		margin-bottom: 45px;
		position: relative;
		z-index: 10;
	}

	.wrapper {
		max-width: 1200px;
		padding-bottom: 40px;

		@media screen and (max-width: 1279px) {
			padding-bottom: 20px;
		}
	}
}

.what_we_do__descr {
	overflow: hidden;

	@media screen and (max-width: 1279px) {
		display: none;
	}
}

.what_we_do__tabs {
	display: flex;
	text-align: left;
}

.what_we_do__tabs-item {
	position: relative;
	flex: 1;
	padding: 32px 90px 40px 60px;
	color: $label-color;
	text-decoration: none;
	border: 1px solid transparent;
	box-sizing: border-box;

	&:last-child {
		border-left: none;
		border-radius: 0px 5px 0px 0px;
	}

	&:first-child {
		border-right: none;
		border-radius: 5px 0px 0px 0px;
	}

	&:active,
	&:visited,
	&:hover,
	&:focus {
		color: $label-color;
		text-decoration: none;
	}

	&--active {
		color: $gray-base;
		background-color: $label-color;
		text-decoration: none;
		border-color: $label-color;
		border-bottom-color: transparent;

		&:after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 9px 9px 9px;
			border-color: transparent transparent #009dff transparent;
		}

		&:active,
		&:visited,
		&:hover,
		&:focus {
			color: $gray-base;
			text-decoration: none;
		}

		.what_we_do__tabs-icon path {
			fill: #009fff;
		}
	}

	&--initial {
		color: $label-color;
		background: transparent;
		text-decoration: none;
		border: 1px solid transparent;

		&:after {
			content: none;
		}

		.what_we_do__tabs-icon path {
			fill: $label-color;
		}
	}


}

.what_we_do__tabs-icon {
	display: flex;
	align-items: flex-end;
	height: 81px;
	margin-bottom: 25px;
}

.what_we_do__tabs-title {
	font-family: $NeoSansMediumFont;
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 14px;
}

.what_we_do__tabs-text {
	font-family: $LoraFont;
	font-size: 16px;
	line-height: 24px;
}

.what_we_do__descr-text {
	position: relative;
	color: $label-color;
	font-family: $LoraFont;
	font-size: 24px;
	line-height: 34px;
	border: 1px solid transparent;
	border-top: none;
	border-radius: 0 0 5px 5px;
}

.what_we_do_full-descrWrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 60px 210px;
	opacity: 0 !important;
	transition: opacity 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);

	&.active {
		opacity: 1 !important;
	}
}

.what_we_do__slider {
	width: 100vw;

	@media screen and (min-width: 1280px) {
		display: none !important;
	}
}

.what_we_do__slider-item {
	padding: 0 40px;

	@media screen and (min-width: 800px) {
		padding: 0 15vw;
	}
}

.what_we_do__slider-icon {
	margin-bottom: 20px;
}

.what_we_do__slider-title {
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 20px;
	font-family: $NeoSansMediumFont;

	@media screen and (min-width: 800px) {
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 25px;
	}
}

.what_we_do__slider-descr {
	font-size: 24px;
	line-height: 32px;
	font-family: $LoraFont;

	@media screen and (min-width: 800px) {
		font-size: 26px;
		line-height: 36px;
	}
}

.what_we_do__slider .owl-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.what_we_do__slider .owl-page {
	padding: 0 15px;
}

.what_we_do__slider .owl-page span {
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #fff;
	opacity: .6;
	transition: .3s;
}

.what_we_do__slider .owl-page.active span {
	opacity: .9;
	transform: scale(1.2);
}