@mixin rotate( $degrees: -2deg ) {
	-webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
    //-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
    //filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
}

@mixin transition( $value ) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	-o-transition: $value;
	transition: $value;
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
 
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs(strip-unit($r))) / (2 * $x0);
    $x0: $x1;
  }
 
  @return $x1;
}

@mixin triangle($width){
	width: $width;
	height: $width / 2;
	
	$tri: floor(sqrt($width * $width / 2 * 0.6));
	
	.inner {
		margin-top: ($width - $tri) / 2;
		margin-left: ($width - $tri) / 2;
		width: $tri + px;
		height: $tri + px;
	}
}


@mixin setHorizStageItem($color){
	div.content {
		/*background: darken($color, 10%);*/
		background: $color;
		&:after {
			/*border-left-color: darken($color, 10%);*/
			border-left-color: $color;
		}
	}

	div.content:before,
	div.back {
		border-left-color: lighten($color, 20%);
	}
	div.back:before {
		/*background: $color;*/
		background: lighten($color, 20%);
	}
}

@mixin setVertStageItem($color){
	div.content {
		/*background: darken($color, 10%);*/
		background: $color;
		&:after {
			border-left-color: transparent;
			border-top-color: $color;
		}
	}

	div.content:before,
	div.back {
		border-left-color: transparent;
		border-top-color: lighten($color, 20%);
	}
	div.back:before {
		/*background: $color;*/
		background: lighten($color, 20%);
	}
}
@mixin media_pre-mobile1000 {
    @media only screen and (max-width: 1000px) {
        @content;
    }
}

@mixin media_1750 {
    @media all and (max-width: 1750px) {
        @content;
    }
}
@mixin media_min-1750 {
    @media only screen and (min-width: 1751px) {
        @content;
    }
}
@mixin media_from-1750-to-1300 {
    @media all and (max-width: 1750px) and (min-width: 1301px) {
        @content;
    }
}

@mixin media_1650 {
    @media all and (max-width: 1650px) {
        @content;
    }
}

@mixin media_1600 {
    @media all and (max-width: 1600px) {
        @content;
    }
}

@mixin media_1500 {
    @media all and (max-width: 1500px) {
        @content;
    }
}

@mixin media_min-1500 {
    @media all and (min-width: 1500px) {
        @content;
    }
}
@mixin media_1400 {
    @media all and (max-width: 1400px) {
        @content;
    }
}
@mixin media_min-1400-max-1800 {
    @media all and (min-width: 1400px) and (max-width: 1800px) {
        @content;
    }
}

@mixin media_1450 {
    @media all and (max-width: 1450px) {
        @content;
    }
}

@mixin media_1350 {
    @media all and (max-width: 1350px) {
        @content;
    }
}
@mixin media_1300 {
    @media all and (max-width: 1300px) {
        @content;
    }
}
@mixin media_1200 {
    @media all and (max-width: 1200px) {
        @content;
    }
}

@mixin media_min-1300 {
    @media all and (min-width: 1301px) {
        @content;
    }
}

@mixin media_from-1300-to-900 {
    @media all and (max-width: 1300px) and (min-width: 901px) {
        @content;
    }
}

@mixin media_1200 {
    @media all and (max-width: 1200px) {
        @content;
    }
}

@mixin media_1100 {
    @media all and (max-width: 1100px) {
        @content;
    }
}

@mixin media_1000 {
    @media all and (max-width: 1000px) {
        @content;
    }
}

@mixin media_950 {
    @media only screen and (max-width: 950px) {
        @content;
    }
}

@mixin media_900 {
    @media only screen and (max-width: 900px) {
        @content;
    }
}

@mixin media_min-900 {
    @media only screen and (min-width: 901px) {
        @content;
    }
}
@mixin media_800 {
    @media only screen and (max-width: 800px) {
        @content;
    }
}

@mixin media_min-800 {
    @media only screen and (min-width: 801px) {
        @content;
    }
}

@mixin media_750 {
    @media only screen and (max-width: 750px) {
        @content;
    }
}

@mixin media_700 {
    @media only screen and (max-width: 700px) {
        @content;
    }
}

@mixin media_min-700 {
    @media only screen and (min-width: 701px) {
        @content;
    }
}

@mixin media_650 {
    @media only screen and (max-width: 650px) {
        @content;
    }
}

@mixin media_600 {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin media_550 {
    @media only screen and (max-width: 550px) {
        @content;
    }
}

@mixin media_500 {
    @media only screen and (max-width: 500px) {
        @content;
    }
}

@mixin media_450 {
    @media only screen and (max-width: 450px) {
        @content;
    }
}

@mixin show_on_600 {
    @include media_min-600 {
        display: none !important;
    }
}
@mixin hide_on_600 {
    @include media_600 {
        display: none !important;
    }
}