@font-face {
  font-family: 'NeoSansProCyr-Light';
  src: url("../fonts/NeoSansProCyr-Light.eot");
  src: url("../fonts/NeoSansProCyr-Light.woff") format('woff'), url("../fonts/NeoSansProCyr-Light.ttf") format('truetype'), url("../fonts/NeoSansProCyr-Light.svg#NeoSansProCyr-Light") format('svg'), url("../fonts/NeoSansProCyr-Light.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansProCyr-Medium';
  src: url("../fonts/NeoSansProCyr-Medium.eot");
  src: url("../fonts/NeoSansProCyr-Medium.woff") format('woff'), url("../fonts/NeoSansProCyr-Medium.ttf") format('truetype'), url("../fonts/NeoSansProCyr-Medium.svg#NeoSansProCyr-Medium") format('svg'), url("../fonts/NeoSansProCyr-Medium.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro-Regular';
  src: url('../fonts/NeoSansPro-Regular.eot');
  src: url('../fonts/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeoSansPro-Regular.woff2') format('woff2'),
    url('../fonts/NeoSansPro-Regular.woff') format('woff'),
    url('../fonts/NeoSansPro-Regular.ttf') format('truetype'),
    url('../fonts/NeoSansPro-Regular.svg#NeoSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro-Bold';
  src: url('../fonts/NeoSansPro-Bold.eot');
  src: url('../fonts/NeoSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeoSansPro-Bold.woff2') format('woff2'),
    url('../fonts/NeoSansPro-Bold.woff') format('woff'),
    url('../fonts/NeoSansPro-Bold.ttf') format('truetype'),
    url('../fonts/NeoSansPro-Bold.svg#NeoSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.woff") format('woff'), url("../fonts/OpenSans-Regular.ttf") format('truetype'), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format('svg'), url("../fonts/OpenSans-Regular.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.woff2") format('woff2'), url("../fonts/OpenSans-Bold.woff") format('woff'), url("../fonts/OpenSans-Bold.ttf") format('truetype'), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format('svg'), url("../fonts/OpenSans-Bold.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.woff2") format('woff2'), url("../fonts/OpenSans-Semibold.woff") format('woff'), url("../fonts/OpenSans-Semibold.ttf") format('truetype'), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format('svg'), url("../fonts/OpenSans-Semibold.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.woff2') format('woff2'),
    url('../fonts/Lora-Regular.woff') format('woff'),
    url('../fonts/Lora-Regular.ttf') format('truetype'),
    url('../fonts/Lora-Regular.svg#Lora-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}