@import "@mixins";
@import "normalize";
@import "fonts";

$lightBlue: #77c7e7;
$LoraFont: 'Lora',
Palatino,
Book Antiqua,
Georgia,
serif;
$CursiveFont: 'Kavivanar',
cursive;
$NeoSansMediumFont: 'NeoSansProCyr-Medium',
sans-serif;
$NeoSansRegularFont: 'NeoSansPro-Regular',
sans-serif;
$NeoSansBoldFont: 'NeoSansPro-Bold',
sans-serif;
$NeoSansLightFont: 'NeoSansProCyr-Light',
sans-serif;
$OpenSansFont: 'OpenSans-Regular',
sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	@include transition(all 0.25s ease);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	position: relative
}

input:active,
input:focus {
	outline: none;
}

.hiddenSection {
	visibility: hidden;
	height: 0px !important;
	min-height: 0px !important;
	overflow: hidden;
	padding: 0px !important;
}

.solid {
	display: inline-block;
}

body {      
        
	font-family: $NeoSansMediumFont;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-right: 0px !important;
}

.main_content {
	overflow: hidden;
}

.owl-stage-outer,
.owl-stage,
.owl-item,
.item {
	height: 100%;
}

.slider {
	// height: 100%;
	// min-height: inherit;

	.owl-wrapper-outer,
	.owl-wrapper {
		// height: 100%;

		@media screen and (max-width: 1023px) {
			height: auto;
		}
	}

	.owl-item .item {
		@media screen and (max-width: 1023px) {
			padding-bottom: 100px;
			box-sizing: content-box;
		}
	}

	.owl-prev,
	.owl-next {
		border-radius: 20px;
		position: absolute;
		margin-top: -26px;
		left: 100px;
	}

	.owl-prev {
		display: none !important;
	}

	.owl-next {
		font-family: $LoraFont;
		left: auto;
		right: 100px;
		z-index: 10;

		bottom: 34px;
		width: auto;
		color: #fff;
		font-size: 20px;
		letter-spacing: .5px;
		line-height: 52px;
		text-align: center;
		padding: 0px 10px;
		border: 1px solid rgba(255, 255, 255, 0);

		@media screen and (max-width: 1023px) {
			left: 50px;
			right: auto;
		}

		&.active {
			animation-name: activeButton;
			animation-duration: 1s;
		}
	}

	.owl-pagination,
	.owl-dots {
		width: 100%;
		position: absolute;
		bottom: 50px;
		text-align: center;
	}

	.owl-page,
	.owl-dot {
		margin: 0 4px;
		vertical-align: middle;
		display: inline-block;
		cursor: pointer;
		padding: 0px 3px;

		span {
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #fff;
			display: inline-block;
			vertical-align: middle;
			opacity: 0.6;
		}

		&.active {
			span {
				width: 10px;
				height: 10px;
				margin-left: -2px;
				opacity: 1;
			}
		}
	}

	.item {
		.row {
			height: 100%;

			/*width: 1170px;*/
			/*margin: 0 auto;*/
			@media screen and (min-width: 1024px) {
				display: flex;
				//align-items: center;

				.text_slide {
					align-self: center;
				}
			}
		}

		img {
			width: auto;
			display: inline-block;
		}
	}

	.slider-img-cont {
		text-align: center;

		@media screen and (min-width: 1024px) {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			text-align: right;
		}

		img {

			max-width: 100%;
		}
	}
}

.technologies {
	font-family: 'OpenSans-Semibold';
	background: rgba(0, 0, 0, .15);
	padding: 0px 15px;
	//border-radius: 20px;
	border-radius: 1000px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 9px;
	margin-top: 20px;
	font-size: 18px;
	letter-spacing: 0.45px;
	padding: 10px 20px;
	height: 60px;
	line-height: 36px;
	text-align: center;

	img {
		height: 100%;
	}

	&.php {}

	&.mysql {}

	&.mongodb {}

	&.apache {}

	&.nginx {
		padding: 13px 20px;
	}

	&.javascript,
	&.css {
		padding: 17px;
		width: 70px;
		height: 70px;
	}

	&.XML {
		padding: 12px;
	}

	&.bootstrap {
		padding: 12px;
	}

	&.knockout {}

	&.symfony {
		padding: 10px;
	}

	@media screen and (max-width: 1023px) {
		margin-right: 2px;
		margin-top: 10px;
		font-size: 20px;
		line-height: 20px;
		height: 50px;


		&.nginx {
			padding: 14px 20px;
		}

		&.javascript,
		&.css {
			padding: 12px;
			width: 56px;
			height: 56px;
		}

		&.XML {
			padding: 14px;
		}

		&.bootstrap {
			padding: 12px;
		}

		&.knockout {
			padding-bottom: 15px;
		}

		&.symfony {
			padding: 10px;
		}
	}
}

.container-fluid {
	padding: 0;

	.row {
		margin: 0;
	}
}

.text_slide {
	font-size: 20px;
	line-height: 32px;
	font-family: $LoraFont;
	letter-spacing: .5px;

	@media screen and (max-width: 1023px) {
		padding: 50px 50px 0px;
	}

	.client_logo {
		margin-bottom: 25px;

		img {
			margin-bottom: 10px;
		}

		span {
			margin: 0 1em;
			display: inline-block;
			vertical-align: middle;
		}

		.region {
			font-family: $OpenSansFont;
			font-size: 36px;
			margin-left: 0.5em;
		}

	}

	p {
		margin-bottom: 30px;

		&.large {
			font-size: 24px;

			@media screen and (max-width: 1023px) {
				font-size: 20px;
			}
		}
	}
}

.text_wrapper {
	margin-bottom: 30px;
}

video {
	opacity: 0;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	opacity: .2;
}

.quote {
	font-family: $CursiveFont;
}

//Slides
section {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $NeoSansLightFont;
	padding: 0px 50px;

	.title {
		font-family: $NeoSansMediumFont;
		font-size: 33pt;
		letter-spacing: 1.1px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	@media screen and (max-width: 1023px) {
		padding: 0px 20px;

		.title {
			font-size: 46pt;
		}
	}

	@media screen and (max-width: 767px) {

		.title {
			font-size: 26pt;
		}
	}
}

section.xura {
	background: #5b4fae;
	color: #fff;

	video {
		opacity: .1;
	}

	.client_logo {
		.acision {
			width: 200px;
		}

		.xura {
			width: 180px;
		}
	}
}

section.medicity {
	background: #2598d6;
	color: #fff;

	@media screen and (max-width: 1023px) {
		.slider {
			padding-bottom: 70px;
		}
	}

	.client_logo {
		img {
			width: 260px;
		}
	}
}

section.citybooq {
	background: #196282;
	color: #fff;

	.client_logo {
		img {
			width: 240px;
		}
	}
}

section.netvision {
	background: #ef4243;
	color: #fff;

	.first-item .text_slide>* {
		position: relative;
	}

	@media screen and (max-width: 1023px) {
		.slider {
			padding-bottom: 70px;
		}
	}

	.client_logo {
		img {
			width: 300px;
		}
	}
}


section.xura,
section.medicity,
section.citybooq,
section.netvision {
	.first-item .text_slide>* {
		position: relative;
	}
}

@keyframes activeButton {
	0% {
		border-color: rgba(255, 255, 255, 0)
	}

	25% {
		border-color: rgba(255, 255, 255, .5)
	}

	50% {
		border-color: rgba(255, 255, 255, .0)
	}

	75% {
		border-color: rgba(255, 255, 255, .5)
	}

	100% {
		border-color: rgba(255, 255, 255, 0)
	}
}

@-webkit-keyframes activeButton {
	0% {
		border-color: rgba(255, 255, 255, 0)
	}

	25% {
		border-color: rgba(255, 255, 255, .5)
	}

	50% {
		border-color: rgba(255, 255, 255, .0)
	}

	75% {
		border-color: rgba(255, 255, 255, .5)
	}

	100% {
		border-color: rgba(255, 255, 255, 0)
	}
}

@import "remodal";
@import "remodal-default-theme";

@import "sections/splash";
@import "sections/what_we_do";
@import "sections/how_we_work";
@import "sections/our_clients";
@import "sections/our_team";
@import "sections/contacts";
@import "sections/feedback";
@import "sections/cases";
@import "sections/our_specializations";
@import "menu";
@import "sections/tech";