.navbar {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 40px;
  margin-right: 40px;
  z-index: 9;

  @media screen and (max-width: 960px) {
    display: none;
  }
}

.navbar__list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
}

.navbar__item {
  margin: 0 15px;
}


.navbar__link {
  color: $label-color;
  font-size: 12px;
  text-transform: uppercase;
  font-family: $NeoSansRegularFont;
  letter-spacing: 0.2em;

  &:hover {
    color: $label-color;
  }
}

.menu {
  position: fixed;
  width: 730px;
  height: 100%;
  z-index: 122;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #337ab7;
  padding-top: 90px;
  box-sizing: border-box;
  transform: translateX(730px);

  @media screen and (max-width: 960px) {
    padding-top: 60px;
    width: 60vw;
    transform: translateX(60vw);
  }

  &_opened {
    transform: translateX(0px);

    @media screen and (max-width: 960px) {
      width: 60vw;
    }
  }
}

.menu__list {
  list-style: none;
  padding-left: 110px;
  margin-bottom: 63px;
  margin-bottom: 7.8vmin;

  @media screen and (max-width: 767px) {
    padding: 0 6vw;
  }
}

.menu__item {
  margin-bottom: 10px;
  margin-bottom: 1.2vmin;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    .menu__link {
      text-decoration: underline;
    }
  }
}

.menu__link {
  color: #fff;
  font-size: 50px;
  font-size: 5.4vmin;
  font-family: $NeoSansBoldFont;

  &:hover {
    color: #fff;
  }

  &:visited {
    color: #fff;
  }

  @media screen and (max-width: 767px) {
    font-size: 6.5vmin;
  }
}

.menu__btn {
  position: fixed;
  display: none;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  margin-top: 60px;
  margin-right: 80px;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  z-index: 130;
  background: url('../images/burger.svg') no-repeat center;
  opacity: 0;
  transition: all .5s;

  @media screen and (max-width: 960px) {
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    width: 10vw;
    height: 10vw;
    background-size: 4vw;
    opacity: 1;
  }

  &.active {
    background: url('../images/close.svg') no-repeat center;

    @media screen and (max-width: 960px) {
      background-size: 4vw;
    }
  }



  &.black {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: url('../images/burger-black.svg') no-repeat center;

    @media screen and (max-width: 960px) {
      background-size: 4vw;
    }
  }

  &.active.black {
    border: 1px solid rgba(255, 255, 255, .3);
    background: url('../images/close.svg') no-repeat center;

    @media screen and (max-width: 960px) {
      background-size: 4vw;
    }
  }

  &.white {
    border: 1px solid rgba(255, 255, 255, .3);
    background: url('../images/burger.svg') no-repeat center;
  }

  &.active.white {
    background: url('../images/close.svg') no-repeat center;

    @media screen and (max-width: 960px) {
      background-size: 4vw;
    }
  }
}

.menu__contact {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-size: 2vmin;
  line-height: 26px;
  line-height: 3.2vmin;
  padding: 0 110px;

  @media screen and (max-width: 767px) {
    padding: 0 6vw;
    width: 40vw;
    font-size: 2.5vmin;
    line-height: 4.2vmin;
  }
}

.menu__group {
  position: relative;
  margin-bottom: 25px;
  margin-bottom: 3.1vmin;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -16px;
    margin-top: -2vmin;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: .1;
  }
}

.menu__group-wrapper {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
}

.menu__group-item {
  width: calc(100%/2 - 10px);

  @media screen and (max-width: 960px) {
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu__group-title {
  font-family: $NeoSansBoldFont;
}

.menu__group-text {
  font-family: $NeoSansRegularFont;
}

.menu__group-link {
  color: #fff;

  &:hover {
    color: #fff;
  }

  &:visited {
    color: #fff;
  }
}

.menu__overlay {
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity .7s;
  z-index: 121;

  &.active {
    width: 100%;
    opacity: .7;
  }
}