doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')	
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='')	
//if IE 8
	html.no-js.lt-ie9(lang='')	
// [if gt IE 8] <!
html.no-js(lang='ru')
	// <![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Afterlogic Works! We do code. Premium outsource for your precious projects.
		meta(name='description', content='AfterLogic Corporation is a Newark, Delaware based technology corporation since 2002. Our areas of specialization are collaboration systems and email software development.')
		meta(name='keywords', content='software development, outsource development, custom development, web application, emeil software, collaboration system development')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='css/owl.carousel.css')
		link(rel='stylesheet', href='css/main.css')
		link(href='https://fonts.googleapis.com/css?family=Lora|Kavivanar', rel='stylesheet', type='text/css')
		script(src='js/libs.js')
		script(src='js/script.js')
		//if lt IE 9
			script(src='js/vendor/html5-3.6-respond-1.4.2.min.js')
		script(type='text/javascript').
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-720662-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		div.main_content
			section.splash
				img(src="images/tri3.svg")#el5
				img(src="images/tri3.svg")#el6
				img(src="images/tri2.svg")#el2
				img(src="images/tri2.svg")#el4
				img(src="images/tri1.svg")#el1
				img(src="images/tri4.svg")#el3
				div#cover
				div#mask
				div.wrapper
					.main_logo
					div.title
						span.text
						span.cursor
					.description Premium outsource for your precious projects
					.learn_more Learn more
					.mouse
						div
			section.what_we_do
				.wrapper
					.text_wrapper
						h2.title What we do
						div.description
							p Your project is important and deserves a great team. <br />Since 2002, leading and midsize companies around the world have been backed by Afterlogic. And you get on the board!
							p We focus on full-stack web development, enterprise, communications and messaging technologies.
					//.technologies PHP
					//.technologies MySQL
					//.technologies MongoDB
					//.technologies Apache
					//.technologies nginx
					//.technologies LDAP
					//.technologies Javascript
					//.technologies CSS
					//.technologies Web services
					//.technologies XML
					//.technologies AJAX
					//.technologies Bootstrap
					//.technologies Knockout
					//.technologies Symfony2
					.technologies.php
						img(src="images/technologies/php.svg")
					.technologies.mysql
						img(src="images/technologies/mysql.svg")
					.technologies.mongodb
						img(src="images/technologies/mongodb.svg")
					.technologies.apache
						img(src="images/technologies/apache.svg")
					.technologies.nginx
						img(src="images/technologies/nginx.svg")
					.technologies.javascript
						img(src="images/technologies/javascript.svg")
					.technologies.css
						img(src="images/technologies/css.svg")
					.technologies.xml
						img(src="images/technologies/xml.svg")
					.technologies.bootstrap
						img(src="images/technologies/bootstrap.svg")
					.technologies.knockout
						img(src="images/technologies/knockout.svg")
					.technologies.symfony
						img(src="images/technologies/symfony.svg")
			section.xura.container-fluid 
				video(autoplay, loop, muted, poster="video/square2.jpg")
					source(src='video/square2.mp4', type='video/mp4;')
					source(src='video/square2.webm', type='video/webm; codecs="vp8, vorbis"')
				.slider
					.item.first-item
						.row 
							.text_slide.col-md-5.col-md-offset-2
								.client_logo
									img(src="images/acision-logo.png", alt="acision").acision
									span /
									img(src="images/xura-logo.png", alt="xura").xura
								p We helped Acision build a number of modern web portals servicing millions of subscribers of the world leading mobile network operators.
								p We also leveraged our expertise in communication protocols and technologies to optimize Acision's messaging infrastructure.
							//.col-md-6.slider-img-cont
								img(src="images/comp.png")
					.item
						.row 
							.text_slide.col-md-8.col-md-offset-2
								.client_logo
									img(src="images/acision-logo.png", alt="acision").acision
									span.region - Europe
								.row
									p.large.col-md-8 In this project we utilized a broad set of technologies, from user interface implementation to building custom Linux distributions for deep optimization of Acision backend infrastructure.
								.row
									.col-md-5
										p - MMS GUI development. Viewing/managing/transcoding MMS audio and video messages.
										p - Voicemail and fax messages GUI, account settings.
										p - Customer care GUI - a web tool for the operator's support staff. Includes lots of tools including user management, permission management, viewing system logs, etc.
									.col-md-5.col-md-offset-1
										p - Postfix MTA scripts for tracking message traffic.
										p - Building custom Linux RPM packages for deployment of customized server components.
					.item
						.row 
							.text_slide.col-md-4.col-md-offset-2
								.client_logo
									img(src="images/acision-logo.png", alt="acision").acision
									span.region - Australia
								p We designed and implemented webmail interface front-end which uses Acision platform as a backend, with LDAP-based public address book. Also we performed branding of the user interface according the operator's standards.
								.technologies.javascript
									img(src="images/technologies/javascript.svg")
								.technologies.php
									img(src="images/technologies/php.svg")
								.technologies Ldap
					.item
						.row 
							.text_slide.col-md-4.col-md-offset-2
								.client_logo
									img(src="images/acision-logo.png", alt="acision").acision
									span.region - Taiwan
								p Our task was to design and develop webmail interface which lets subscribers	access voice and fax messages and configure their account settings.						
								.technologies.javascript
									img(src="images/technologies/javascript.svg")
								.technologies.php
									img(src="images/technologies/php.svg")
								.technologies Ldap
					.item
						.row 
							.text_slide.col-md-5.col-md-offset-2
								.client_logo
									img(src="images/acision-logo.png", alt="acision").acision
									span /
									img(src="images/xura-logo.png", alt="xura").xura
								div.quote
									p "Through all the years of our cooperation, AfterLogic has always been the reliable partner backed with a team of web and messaging technologies experts.
									p AfterLogic's ability to provide on-site and online support and maintenance for up to 24x7 level is also the important factor for us, helping us build and run the platforms which serve hundreds of millions of people worldwide."
								quote Sergey Buravov, <br> Senior Project Manager
			section.medicity.container-fluid
				video(autoplay, loop, muted, poster="video/heart-rate.jpg")
					source(src='video/heart-rate.mp4', type='video/mp4')
					source(src='video/heart-rate.webm', type='video/webm')
				.slider
					.item.first-item
						.row 
							.text_slide.col-md-5.col-md-offset-2
								.client_logo
									img(src="images/medicity.png", alt="medicity").medicity
								p Medicity hired us to develop a messaging system for healthcare industry.
								p Based on our ASP.NET platform, the customized solution enabled "delegates" concept and custom storage of e-mails with REST API.
								.technologies ASP.NET
								.technologies REST
								.technologies MS SQL Server
							//.col-md-6.slider-img-cont
								img(src="images/phone.png")
					.item
						.row 
							.text_slide.col-md-8.col-md-offset-2
								.client_logo
									img(src="images/medicity.png", alt="medicity").medicity
								.row
									p.large.col-md-8 The solution developed for Medicity lets healthcare industry professionals work with their e-mail and delegate access to their accounts to other members.
								.row
									p.col-md-5 This solution supports all the typical features of a webmail client along with the ability to access delegated accounts, search through the available healthcare specialists, assign and manage delegations.
									p.col-md-5.col-md-offset-1 REST API was developed to use Medicity's internal facilities of delivering messages into the system rather than plain POP3.
								.row
									.col-md-12
										.technologies ASP.NET
										.technologies REST
										.technologies MS SQL Server
					.item
						.row 
							.text_slide.col-md-5.col-md-offset-2
								.client_logo
									img(src="images/medicity.png", alt="medicity").medicity
								div.quote
									p "Working with AfterLogic was a smooth experience. High-quality code, quick turnarounds, flexible minds. And project on time.
									p Always open to suggest ideas and discuss better ways of making things work, AfterLogic guys helped us meet all the challenges of this project. Even changing some original requirements for performance sake during the project lifecycle was no-brainer with AfterLogic and didn't have any impact on the budget."
								quote Lance Rodela, <br> Director, Product Management
			section.citybooq.container-fluid
				video(autoplay, loop, muted, poster="video/deep-blue.jpg")
					source(src='video/deep-blue.mp4', type='video/mp4')
					source(src='video/deep-blue.webm', type='video/webm')
				.slider
					.item.first-item
						.row 
							.text_slide.col-md-5.col-md-offset-2
								.client_logo
									img(src="images/citybooq.png", alt="citybooq").citybooq
								p Citibooq hired us to create an innovative web portal and iOS app for their touristic service which helps travellers find amazing places all over the world.
							//.col-md-6.slider-img-cont
								img(src="images/comp.png")
					.item
						.row 
							.text_slide.col-md-8.col-md-offset-2
								.client_logo
									img(src="images/citybooq.png", alt="citybooq")
								.row
									p.large.col-md-8 Web portal app we developed consists of a set of Single-Page-Application front-ends and JSON REST server as a backend.
								.row
									p.col-md-5 The portal app provides rich auto/video/imaging capabilities so we utilized a number of tools to organize media streaming/transcoding and applying various effects to images. The project is deeply integrated with social networks, geo-positioning, and mapping services.
									p.col-md-5.col-md-offset-1 We also developed the iPhone application companion which uses the same JSON REST server as a backend.
								.row
									.col-md-12
										.technologies.php
											img(src="images/technologies/php.svg")
										.technologies rest
										.technologies
											img(src="images/technologies/mysql.svg")
										.technologies cdn
										.technologies objective c
					.item
						.row 
							.text_slide.col-md-5.col-md-offset-2
								.client_logo
									img(src="images/citybooq.png", alt="citybooq")
								div.quote
									p "AfterLogic was just a perfect choice of a professional services team for our start-up. Their competence, perfect timing and attention to details is what they are the best at. Keep up the great work and good luck!"
								quote Igor Saakyants, <br>CEO, Citibooq
			section.netvision.container-fluid
				video(autoplay, loop, muted, poster="video/data-transfer.jpg")
					source(src='video/data-transfer.mp4', type='video/mp4')
					source(src='video/data-transfer.webm', type='video/webm; codecs="vp8, vorbis')
				.slider
					.item.first-item
						.row 
							.text_slide.col-md-5.col-md-offset-2
								.client_logo
									img(src="images/netvision.png", alt="netvision")
								p Netvision decided to choose us to build a web front-end for their mail server and contacts LDAP directory.
								p Our experience in building user interfaces which support both Left-to-Right and Right-to-Left layouts was the important factor for this decision.
							//.col-md-6.slider-img-cont
								img(src="images/phone.png")
					.item
						.row 
							.text_slide.col-md-5.col-md-offset-2
								.client_logo
									img(src="images/netvision.png", alt="netvision")
								p.large We optimized our PHP messaging solution to work in Netvision's cluster environment, added a custom authentication layer, enabled deep integration with their LDAP directory for accessing contacts, and branded the look-n-feel to conform to their corporate style.
								p The platform now successfully serves about a million of Netvision subscribers, seamlessly integrated into their user portal.
								.technologies.php
									img(src="images/technologies/php.svg")
								.technologies Ldap
								.technologies IMAP
								.technologies SMTP
					.item
						.row 
							.text_slide.col-md-5.col-md-offset-2
								.client_logo
									img(src="images/netvision.png", alt="netvision")
								div.quote
									p "Over the years, AfterLogic has proven itself as not only the experienced technology company but also a long-term partner you can count on in a distant perspective.
									p For a large long-running project, it's vital to protect your investments and have peace of mind knowing that the team behind the project is always around and ready to help, whatever happens. AfterLogic shares the same values so we found it the right fit for this strategy."
								quote Valentin Zaharov, <br> System Group Manager
			section.how_we_work
				.container-fluid
					h2.title How we work
					.description We respect Agile and Scrum. We send you regular reports to keep you on track. We're always here to hear you, be it phone, email, or Skype.
					.stage.stage1
						div.back
						div.content
							img(src="images/fly.png")
							p Kickoff Meeting
					.stage.stage2
						.back
						.content
							img(src="images/research.png")
							p Research and Negotiations
					.stage.stage3
						div.back
						div.content
							img(src="images/pen.png")
							p Settings Milestones
					.stage.stage4
						div.back
						div.content
							img(src="images/dev.png")
							p Actual Development
					.stage.stage5
						div.back
						div.content
							img(src="images/qa.png")
							p QA
					.stage.stage6
						div.back
						div.content
							img(src="images/plane.png")
							p Release
			section.our_clients
				.container-fluid
					h2.title Some of our clients
					div
						.logotype
							img(src="images/clients/airbus-w.png")
						.logotype
							img(src="images/clients/mcafee-w.png")
						.logotype
							img(src="images/clients/cisco-w.png")
						.logotype
							img(src="images/clients/hitachi-w.png")
					div
						.logotype
							img(src="images/clients/cern.png").cern
						.logotype
							img(src="images/clients/siemens.png").siemens
						.logotype
							img(src="images/clients/lockheed-martin.png").lockheed-martin
						.logotype
							img(src="images/clients/stackoverflow.png").stackoverflow
					div
						.logotype
							img(src="images/clients/cmu.png").cmu
						.logotype
							img(src="images/clients/t-mobile.png").t-mobile
						.logotype
							img(src="images/clients/pfizer.png").pfizer
						.logotype
							img(src="images/clients/volvo.png").volvo
			section.contacts
				div.description
					.main_logo
					p Want to work with us?
					p
						a(href="mailto:works@afterlogic.com").company_mail works@afterlogic.com
					p
						img(src="images/skype.png").skype-icon
						a(href="skype:project.team.manager").company_skype project.team.manager
					p +1-415-513-0152
